$black: #000023;
$white: #ffffff;
$coolBlack: #131313;
$grey: #cccccc;

// $border: #edd3cf;
// $pri_bg: #fff6f5;
// $pri: #feeae2;
// $sec: #ecf7fe;
// $tri: #fcfaef;
// $dark_sec: #82bcf4;

$border: #ad4841;
$pri_bg: #f6e4b9;
$pri: #bf915b;
$sec: #9bbbce;
$tri: #f6e4b9;
$dark_sec: #82bcf4;

$hint-of: #f5f1f0;
$mine-shaft: #3b3637;
$apple-blossom: #ad4841;
$indian-khaki: #c2a38d;
$wheat: #f6e4b9;
$twine: #bf915b;
$rock-blue: #9bbbce;
$keppel: #43b0a3;
$careys-pink: #d3a4b3;

